@charset "utf-8";

/* GOOGLE FONTS */

@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro"); 

/* RESET STYLES */

section.bovp_container div, section.bovp_container p, section.bovp_container a, section.bovp_container img, section.bovp_container button, 
section.bovp_container ul, section.bovp_container li, section.bovp_container h2, section.bovp_container h3, section.bovp_container span, 
section.bovp_container select, section.bovp_container input, section.bovp_container form  { margin: 0;padding: 0;border: 0;background:none;}

/* STYLES DEFAULT THEME */

section.bovp_container {
	
	font-family: 'Open Sans', sans-serif !important;
	background: transparent !important;
	padding: 0px 0px 10px 0px;
	max-width: 1024px !important;
	border-bottom: 4px solid #600C97;
	position: relative;

}

section.bovp_container .bovo_link_logo {position: absolute;top:10px;right:10px;}

section.bovp_container div.bovp_title {

font-family: 'Open Sans', sans-serif !important;
font-size: 35px !important;
text-transform: none !important;
color: #C81C99 !important;
font-weight: 100 !important;
margin-bottom: 30px;

}

section.bovp_container div.bovp_group { padding: 20px 0px 20px 0px; }

section.bovp_container input[type="submit"], div.bovp_form_container input[type="submit"] {

/*border:none; width:30px; height:30px; padding:0; background:url(sprites.png) no-repeat; cursor:pointer;*/

}

section.bovp_container input[type="submit"]:hover, div.bovp_form_container input[type="submit"]:hover {color:#ccc; !important;}

section.bovp_container .clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}

section.bovp_container input[type=text], div.bovp_form_container input[type="text"], section.bovp_container select, div.bovp_form_container select {

	font-family: inherit;
	font-size:16px;
	display:block;
	padding: 4px;
	float: left;
	margin-right: 20px;
	background: #fff;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	border-radius:5px;

	}

section.bovp_container img { border:0px;}

section.bovp_container .bovp_cap {  

font-weight:bold;


color: #600C97;
margin-left: 10px;

}

section.bovp_container p.ref_search{float: left;margin-right: 10px;}	

section.bovp_container .verse_num { padding:15px; font-size:18px; font-weight:bold; color: #600C97;}

section.bovp_container ul li.bovp_color {background: #FFF2FD;}

section.bovp_container ul li { color:#000; list-style: none; text-align: justify; margin-bottom: 5px !important; padding: 10px!important;}




section.bovp_container ul li:hover { color: #999;}

section.bovp_container a:link, section.bovp_container a:visited  {color: #600C97;text-decoration:none;}

section.bovp_container a:hover, section.bovp_container a:active {color: #000;text-decoration:none;}

section.bovp_container section.bovp_version{display: block;text-align: right;margin-top: 20px;}

/* Pagination based on Victor De la Rocha's script (http://www.mis-algoritmos.com) */
nav.bovp_pagination { font-family: inherit; margin: 20px 0 20px 0; margin:3px; text-align:center; clear: both; }

nav.bovp_pagination a { padding: 2px 5px 2px 5px;margin-right: 2px; border: 1px solid #600C97;text-decoration: none; color: #91906a;}

nav.bovp_pagination a:hover, div.pagination a:active {padding: 2px 5px 2px 5px;margin-right: 2px;border: 1px solid #a0a0a0;}

nav.bovp_pagination span.current {padding: 2px 5px 2px 5px;margin-right: 2px;border: 1px solid #ccc;font-weight: bold;background-color: #f0f0f0;color: #aaa;}

nav.bovp_pagination span.disabled {padding: 2px 5px 2px 5px;margin-right: 2px;border: 1px solid #ccc;color: #ccc;}

section.bovp_container .Buttons {border:1px solid #c8c8c8;background-color: #f3f6f8;}

section.bovp_container button, .bovp_form_index button {

	font-family: inherit;
	font-size: 16px;
	min-width: 100px;
	display: block;
	padding: 4px;
	float: left;
	border:none;
	

	background-color: #600C97;
	color: #fff;
	

	background-image: -webkit-gradient(linear,left top,left bottom,from(#C81C99),to(#600C97));
	

	background-image: -webkit-linear-gradient(top,#C81C99,#600C97);
	background-image: -moz-linear-gradient(top,#2a95c5,#21759b);
	background-image: -ms-linear-gradient(top,#2a95c5,#21759b);
	background-image: -o-linear-gradient(top,#2a95c5,#21759b);
	

	background-image: linear-gradient(to bottom,#C81C99,#600C97);
	

	border-color: #600C97;
	

	border-bottom-color: #600C97;
	border-radius: 5px 0 5px 0;
	-webkit-border-radius:5px 0 5px 0;
	-moz-border-radius:5px 0 5px 0;
	-o-border-radius:5px 0 5px 0;
	-ms-border-radius:5px 0 5px 0;
}

#bovp_widget_book, #bovp_widget_chapter {

float: left;
padding: 3px;
font-size: 18px;
border: 1px solid #ccc;
border-radius: 5px 0 5px 0;

}

#bovp_widget_book {margin-right: 10px;}

.bovp_selects_form {margin-bottom: 20px;}

span.verse_ref {display: block; text-align: right;}

section.bovp_container a.bovp_tag_link  {color: #0387B2 !important; text-decoration:none !important;}


section.bovp_container div.bovp_fsize {

	float: right;
	

	background: #600C97;
	padding: 3px 15px;
	color: #fff;
	margin: 20px 0 20px 0;

}

section.bovp_container div.bovp_fsize span a { color: #fff; }
section.bovp_container div.bovp_fsize span a.decrease { font-size: 14px;padding: 5px;}
section.bovp_container div.bovp_fsize span a.default { color: #FFFFFF; font-size: 16px;padding: 5px;}
section.bovp_container div.bovp_fsize span a.increase { font-size: 18px;padding: 5px;}


.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.bovp_seach_input {



}


#bovp_search_container {

border: 1px solid #ccc;
float: right;
padding: 3px;
border-radius: 5px 0 5px 0;

}



/* 7.3. Mobile Portrait Size to Mobile Landscape Size (devices and browsers)
====================================================================== */
@media only screen and (max-width: 479px) {

section.bovp_container input[type=text], 
div.bovp_form_container input[type="text"], 
section.bovp_container select, div.bovp_form_container select {width: 70%;}

section.bovp_container button {min-width: 20%;}

#bovp_search_container {width: 95%;}


}